/* Page Header */

.page-header {
    position: relative;
    padding: 0;
    background-color: $primary;
    box-sizing: content-box;
    img {
        width: 100%;
    }
    .page-title {
        color: $white;
        font-size: 60px;
        line-height: 1;
        position: absolute;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        left: 0; right: 0; bottom: 30px;
        padding: 0 15px;
    }
    &.skinny-header {
        height: 126px;
        .row {
            position: relative;
        }

        h1 {
            line-height: 1;
            padding: 40px 0;
        }
    }
}

.page-header, .tall-header, .short-header {

    .page-title {
        z-index: 2;
        font-size: 60px;
    }
    &:after {
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgb(0,74,151);
        background: -moz-linear-gradient(0deg, rgba(0,74,151,1) 0%, rgba(255,255,255,0) 65%);
        background: -webkit-linear-gradient(0deg, rgba(0,74,151,1) 0%, rgba(255,255,255,0) 65%);
        background: linear-gradient(0deg, rgba(0,74,151,1) 0%, rgba(255,255,255,0) 65%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004a97",endColorstr="#ffffff",GradientType=1);
    }
}

.tall-header {
    position: relative;
    padding:0;
    background-color: $primary;
    img {
        width: 100%;
    }

    h1 {
        color: white;
    }

    .row {
        position: absolute;
        bottom: 0;
        height: calc(100% - 144px);
        text-align: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        left: 0; right: 0;
    }
}

.short-header {
    position: relative;
    padding: 0;
    box-sizing: initial;
    max-height: 120px;

    &.solid-header {
        background-color: $primary;
        height: 82px;
    }

    img {
        width: 100%;
        max-height: 120px;
        object-fit: cover;
        object-position: bottom;
    }

    h1 {
        color: white;
    }

    .row {
        position: absolute;
        max-width: 1200px;
        left: 0; right: 0; bottom: 0;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.no-banner {
    width: 100%;
    display: block;
    height: 20px;
    background-color: $primary;
}

.main-content {
    padding-bottom: 70px;
    .row {
        &:last-child {
            margin-bottom: 0;
        }
    }
    h5 {
        font-weight: normal;
        color: $primary;
        line-height: 2;
    }
    .left-content {
        color: $primary;
        line-height: 1.6;
    }

    .slideshow {
        .swiper-container {

            img {
                max-width: 757px; width: 100%;
                max-height: 482px; height: 100%;
            }
            .slide-caption {
                font-weight: lighter;
                font-size: 14px;
                padding: 20px;
                background-color: $primary-light;
                color: $primary;
                font-style: italic;
            }
            .swiper-button-prev, .swiper-button-next {
                width: 40px;
                height: 40px;
                background-color: white;
                border-radius: 40px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

                &:after {
                    font-size: 21px;
                    font-weight: bold;
                    color: blue;
                    height: 30px;
                }
            }

            .swiper-pagination-bullet {
                height: 17px; width: 17px;
                background-color: $primary;
                border: 3px solid $white;
                opacity: 1;
                margin: 0 5px;
            }

            .swiper-container-horizontal > .swiper-pagination-bullets {
                bottom: 100px;
                margin-top: 10px;
            }

            span.swiper-pagination-bullet.swiper-pagination-bullet-active {
                background-color: $secondary;
                border: 3px solid $white;
            }
            .swiper-pagination {
                width: 100%;
                margin-top: 10px;
            }

            .nav-wrap {
                display: block;
                width: 50%;
                height: 40px;
                position: relative;
                margin: 0 auto;
                top: -170px;
            }
        }
    }
}


/* Service Archive Styles */

.page-contractor {
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    .row {
        max-width: 1200px; width: 100%;
        margin: 60px auto 0;
        left: 0; right: 0; bottom: 0;
        padding: 0 15px;
        &:first-of-type {
            padding: 0 0 50px 0;
        }
        &.contractor-cta {
            padding: 10px 0;
        }
    }

    .service-title {
        max-width: 1200px; width: 100%;
        margin: 0 auto;
        padding: 50px 15px 0;
    }
}

.service-cta {
    p {
        color:$light;
    }
}


// [data-toggle="collapse"].collapsed i {
//     transform: rotate(180deg);
// }

.service-accordion {
    clear:left;
    margin-top: 15px;
}
.card {
    border: none;

    &:nth-child(even) {
        .card-header {
            background-color: #D0DEEC;
        }
    }
    &:nth-child(odd) {
        .card-header {
            background-color: #E6EEF7;
        }
    }
    .card-header {
        background-color: $primary;
        color: $primary;
        border-radius: 0;
        padding: 0;
        border:none;
        .btn-link {
            color: $primary;
            padding: 15px;
            width: 100%;
            text-align:left;
            line-height: 1;
            border-radius:0;

            i {
                float: right;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }

    .card-header button[aria-expanded="true"] {
        background-color: $primary;
        color: $white;
    }
    .card-body {
        background-color: $primary-lightest;
        color: $primary;
        border: none;

        .service-list {
            margin-top: 25px;
            padding-left: 0;
            li {
                list-style-type: none;
                margin-left: 0;
                margin-bottom: 5px;
            }
        }

        .service-button-list {
            padding-left: 0;
            font-size: 14px;
            li {
                list-style-type: none;
                float: left;
                margin-right: 15px;
            }
        }
    }
}

.expand-btn {
    text-align: right;
    width: 50%;
    float: left;
    color: $primary;
    display: block;
    margin: 10px 0 20px;
    cursor: pointer;
}

.service-search {
    float: left;
    width: 48%;
    margin-right: 2%;
}

/* Service Single Styles */

.service-cta-wrap {
    margin-top: 40px;
    .service-cta-content {
        color: $primary;
        line-height: 30px;
        padding-left: 0;
    }

    .service-cta-btn {
        text-align: center;
        padding-right: 0;

        .btn {
            padding: 10px 25px;
        }
    }
}

.service-sub-pages {
    h4 {
        color: $dark;
    }
    .service-list {
        margin-top: 25px;
        padding-left: 0;
        li {
            list-style-type: none;
            margin-left: 0;
            margin-bottom: 5px;
        }
    }
}
/* Industry Page Styles */

.post-type-archive-industry {
    .page-header {
        &:after {
            background: rgb(68,68,68);
background: -moz-linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(255,255,255,0) 65%);
background: -webkit-linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(255,255,255,0) 65%);
background: linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(255,255,255,0) 65%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444",endColorstr="#ffffff",GradientType=1);
        }
    }
}
.industry-card {
    background-color: rgba(35,31,32,0.03);
    margin-bottom: 55px;
    strong.title {
        display: block;
        width: 100%;
        background-color: $dark;
        color: $white;
        padding: 20px;
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
    }

    p {
        padding: 40px;
        margin-bottom: 0;
    }

    ul {
        font-size: 14px;
        list-style: none;
        padding: 0 40px 40px;
        margin-bottom: 0;
        display: inline-block;

        li {
            float:left;
            margin-right: 15px;
            color: $primary;
        }
    }
}

.industry-list {
    margin-top: 40px;
}

.breadcrumb {
    background: none;
    padding: 30px 15px;
    color: $primary;

    .row {
        padding: 0;
        .col-md-12 {
            & > span {
                color: $primary;
            }
        }
    }
}

.breadcrumb + .main-content {
    .row {
        margin-top: 0;
    }
}

/* Atchive Locations Styles */

.map-wrapper {
    padding: 0;
    .acf-map {
    	width: 100%;
    	height: 60vh;
    }

    /* fixes potential theme css conflict */
    .acf-map img {
       max-width: inherit !important;
    }
}

.location-list {
    padding-left: 15px;
    li {
        list-style-type: none;
    }
    .single-location {
        color: $primary;
        padding-left: 0;
        list-style: none;
        margin-bottom: 50px;

        .location-logo {
            margin-bottom: 10px;
        }

        li {
            &:last-child {
                margin-top: 20px;
                text-decoration: underline;
                font-weight: 500;
            }
        }
    }

    .marker {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        color: $primary;
        margin-bottom: 50px;

        .location-logo {
            margin-bottom: 10px;
        }
    }
}

.location-filter {
    .searchandfilter {
        label {
            width: 100%;
        }

        select {
            background-color: $primary-light;
            padding: 10px;
            border: 2px solid $primary;
            color: $primary;
        }
    }
}
#search-filter-form-5438 ul {
    padding-left: 0;
}
.searchandfilter select.sf-input-select {
    width: 100%;
}

/* Sidebars Styles */

#left-sidebar, #right-sidebar {
    color: $primary;
    a, .widget-title {
        color: inherit;
    }
    aside {
        background-color: $grey;
        color: $primary;
        padding: 20px;

        a {
            color: $primary;
        }
        & > ul {
            padding-left: 0;

            li {
                list-style: none;
                &:before {
                    content: "-";
                    margin-right: 10px;
                }

                ul {
                    padding-left: 10px;
                }
            }
            & > li {
                list-style-type: none;
                margin-bottom: 5px;

                &:before {
                    content: none;
                }
            }
        }
    }


}

/* News  Page */

.blog-archive {
    article {
        margin: 50px 0;
        color: $primary;

        &:first-child {
            margin-top: 0;
        }

        .entry-meta {
            font-size: 12px;
            color: #231F20;
            margin-bottom: 15px;

            a {
                color: inherit;
            }
        }

        h5 {
            line-height: 1.2;
        }

        .thumb-overlay {
            opacity: 0;
            position: absolute;
            bottom: 0;
            width: 90%; height: 100%;
            background-color: #004A97A8;
            transition: opacity .2s ease;

            a {
                color: $primary;
                background-color: white;
            }
        }

        &:hover {
            .thumb-overlay {
                opacity: 1;
                transition: opacity .2s ease;
            }
        }
    }
}

.blog {
    .pagination {
        .page-item {
            &.active {
                .page-link {
                    border:none;
                    border-radius: 2px;
                }
            }

            .page-link {
                border:none!important;
            }
        }
    }
}

/* Single Post  Style */
.single {
    .entry-meta {
        font-size: 12px;
        color: #231F20;
        margin-bottom: 15px;

        a {
            color: inherit;
        }
    }

    h5 {
        line-height: 1.6;
    }
}

/* Partners page */

.single-partner {
    text-align:center;

    img {
        margin-bottom: 30px;
    }

    h5 {
        color: $dark;
    }
}

/* Project Archive Styles */

.project-list {
    .single-project {
        margin-bottom: 30px;

        &:hover {
            .sfp-left {
                transition: all .2s ease;
                background-color: $primary;
                color: $white;
                border-color: $primary;
                box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.18);

                p {
                    color: inherit;
                }

                h5 {
                    color: $white;
                    line-height: 1.5;
                }
            }

            .sfp-right {
                transition: all .2s ease;
                img {
                    opacity: .4;
                }

                a {
                    opacity: 1;
                }
            }
        }
    }
    .sfp-left, .sfp-right {
        width: 50%;
        float:left;
    }

    .sfp-left {
        transition: all .2s ease;
        padding: 40px 30px;
        border: 2px solid #E8EEF4;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
        border-radius: 10px 0 0 10px;
        border-right: none;
        color: $light;

        h5 {
            color: $light;
            line-height: 1.5;
        }

        p {
            margin-bottom: 0;
            line-height: 1.6;
        }
    }

    .sfp-right {
        transition: all .2s ease;
        position: relative;
        background-color: $primary;

        span {
            width: 100%;
            position: absolute;
            text-align: center;

            a {
                color: $primary;
                background-color: $white;
                border-radius: 20px;
                padding: 5px 25px;
                opacity: 0;
            }
        }
    }
}

.single-project_gallery {
    .related-projects {
        margin-top: 40px;
    }
}
/* General Page Styles */

.no-banner {
    padding-top: 0;

    &.short-header {
        height: 175px;
        max-height: 175px;
    }
}


/* Contact Page Styles */

.contact-page-location {
    li {
        color: $dark;

        &:first-child {
            color: $primary;
            font-weight: bold;
        }
        &:last-child {
            margin-top: 0;
            font-weight: normal;
            text-decoration: none;
        }
    }
}

.page-template-page-contact, .page-template-contact-page {
    .service-area-title {
        margin: 30px 0 20px 0;
        font-weight: normal;
    }
    .gform_body {
        li {
            list-style: none;
        }

        .gform_fields {
            padding-left: 0;
        }
    }

    .contact-page-map {
        .acf-map {
        	width: 100%;
        	height: 400px;
            margin-bottom: 30px;
        }

        .single-location {
            float: left;
            li {
                list-style: none;
            }
        }
    }
}


/* Partenr Pages */

.partnerships {
    h2 {
        text-align:center;
        margin-bottom: 40px;
    }
    .global-partnerships {
        margin-top: 80px;
        h3 {
            text-align:center;
        }

        .single-partner {
            margin: 20px 0;

            img {
                margin: 0;
            }
        }
    }
}
